Part 2/flows (1).json
[
    {
        "id": "6a5196e8b216e6b7",
        "type": "tab",
        "label": "MediBox_220728K",
        "disabled": false,
        "info": "MediBox monitoring and control system for temperature and light management",
        "env": []
    },
    {
        "id": "19f03367b22e789b",
        "type": "group",
        "z": "6a5196e8b216e6b7",
        "name": "Sensor Monitoring",
        "style": {
            "stroke": "#2196f3",
            "fill": "#e3f2fd",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3ea00315c1c3dd4e",
            "fd49756c49254005"
        ],
        "x": 28,
        "y": 13,
        "w": 1024,
        "h": 354
    },
    {
        "id": "563f4ee285110e06",
        "type": "group",
        "z": "6a5196e8b216e6b7",
        "name": "Shade Controller",
        "style": {
            "stroke": "#4caf50",
            "fill": "#e8f5e9",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bf484f4bacf8d4c2",
            "f84c0cd6da6c4b67",
            "76e0421715667094",
            "afff05ffb64bba78",
            "f9a0de04dcba13a3",
            "f606475178fe4af0"
        ],
        "x": 194,
        "y": 399,
        "w": 552,
        "h": 202
    },
    {
        "id": "3ea00315c1c3dd4e",
        "type": "group",
        "z": "6a5196e8b216e6b7",
        "g": "19f03367b22e789b",
        "name": "Sensor Configuration",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "#f5f5f5",
            "fill-opacity": "0.3",
            "label": true,
            "label-position": "nw",
            "color": "#666666"
        },
        "nodes": [
            "989d9e6c0566df88",
            "37eae6bb30db09db",
            "452d9f7839258698",
            "c87296d730d02d70"
        ],
        "x": 534,
        "y": 59,
        "w": 492,
        "h": 262
    },
    {
        "id": "fd49756c49254005",
        "type": "group",
        "z": "6a5196e8b216e6b7",
        "g": "19f03367b22e789b",
        "name": "Sensor Display",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "#f5f5f5",
            "fill-opacity": "0.3",
            "label": true,
            "label-position": "nw",
            "color": "#666666"
        },
        "nodes": [
            "91ea090a7e14bb30",
            "076a674e805b3b0f",
            "7973dfeda41c1894",
            "2acb75bed0bf5ab5",
            "ee48a1f04e3be630",
            "30944b00eba9cda5",
            "4e5aafb7ba03985f"
        ],
        "x": 54,
        "y": 39,
        "w": 462,
        "h": 302
    },
    {
        "id": "91ea090a7e14bb30",
        "type": "mqtt in",
        "z": "6a5196e8b216e6b7",
        "g": "fd49756c49254005",
        "name": "Temperature Input",
        "topic": "BOX-TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "daae4044a851245c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "7973dfeda41c1894",
                "076a674e805b3b0f"
            ]
        ]
    },
    {
        "id": "076a674e805b3b0f",
        "type": "ui_gauge",
        "z": "6a5196e8b216e6b7",
        "g": "fd49756c49254005",
        "name": "",
        "group": "44491014de3ca4c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "°C",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "7973dfeda41c1894",
        "type": "ui_chart",
        "z": "6a5196e8b216e6b7",
        "g": "fd49756c49254005",
        "name": "",
        "group": "44491014de3ca4c9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2acb75bed0bf5ab5",
        "type": "mqtt in",
        "z": "6a5196e8b216e6b7",
        "g": "fd49756c49254005",
        "name": "Light Input",
        "topic": "BOX-LIGHT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "daae4044a851245c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "ee48a1f04e3be630",
                "30944b00eba9cda5",
                "4e5aafb7ba03985f"
            ]
        ]
    },
    {
        "id": "989d9e6c0566df88",
        "type": "ui_slider",
        "z": "6a5196e8b216e6b7",
        "g": "3ea00315c1c3dd4e",
        "name": "",
        "label": "Sampling Interval",
        "tooltip": "Adjust sensor reading frequency (seconds)",
        "group": "db90d842c8137a2c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "2",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "37eae6bb30db09db"
            ]
        ]
    },
    {
        "id": "37eae6bb30db09db",
        "type": "mqtt out",
        "z": "6a5196e8b216e6b7",
        "g": "3ea00315c1c3dd4e",
        "name": "Sampling Interval Output",
        "topic": "light_sampling_int",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "452d9f7839258698",
        "type": "mqtt out",
        "z": "6a5196e8b216e6b7",
        "g": "3ea00315c1c3dd4e",
        "name": "Value Interval Output",
        "topic": "light_value_int",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "ee48a1f04e3be630",
        "type": "ui_chart",
        "z": "6a5196e8b216e6b7",
        "g": "fd49756c49254005",
        "name": "",
        "group": "db90d842c8137a2c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Light Intensity History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#1f77b4",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "30944b00eba9cda5",
        "type": "ui_text",
        "z": "6a5196e8b216e6b7",
        "g": "fd49756c49254005",
        "group": "db90d842c8137a2c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf484f4bacf8d4c2",
        "type": "ui_slider",
        "z": "6a5196e8b216e6b7",
        "g": "563f4ee285110e06",
        "name": "",
        "label": "Minimum Angle (°)",
        "tooltip": "Sets the minimum angle for the shade",
        "group": "4fae9efa4b520792",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "afff05ffb64bba78"
            ]
        ]
    },
    {
        "id": "f84c0cd6da6c4b67",
        "type": "ui_slider",
        "z": "6a5196e8b216e6b7",
        "g": "563f4ee285110e06",
        "name": "",
        "label": "Controlling Factor (γ)",
        "tooltip": "Adjusts shade response sensitivity",
        "group": "4fae9efa4b520792",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "f9a0de04dcba13a3"
            ]
        ]
    },
    {
        "id": "76e0421715667094",
        "type": "ui_slider",
        "z": "6a5196e8b216e6b7",
        "g": "563f4ee285110e06",
        "name": "",
        "label": "Storage Temperature (°C)",
        "tooltip": "Target temperature for storage",
        "group": "4fae9efa4b520792",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "f606475178fe4af0"
            ]
        ]
    },
    {
        "id": "afff05ffb64bba78",
        "type": "mqtt out",
        "z": "6a5196e8b216e6b7",
        "g": "563f4ee285110e06",
        "name": "Offset",
        "topic": "min_angle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "f9a0de04dcba13a3",
        "type": "mqtt out",
        "z": "6a5196e8b216e6b7",
        "g": "563f4ee285110e06",
        "name": "Gamma",
        "topic": "control_factor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "f606475178fe4af0",
        "type": "mqtt out",
        "z": "6a5196e8b216e6b7",
        "g": "563f4ee285110e06",
        "name": "Temperature",
        "topic": "sto_temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "4e5aafb7ba03985f",
        "type": "ui_gauge",
        "z": "6a5196e8b216e6b7",
        "g": "fd49756c49254005",
        "name": "",
        "group": "db90d842c8137a2c",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Light Level",
        "label": "Intensity",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#0073e6",
            "#e6e600",
            "#ff7f0e"
        ],
        "seg1": "0.3",
        "seg2": "0.7",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "c87296d730d02d70",
        "type": "ui_slider",
        "z": "6a5196e8b216e6b7",
        "g": "3ea00315c1c3dd4e",
        "name": "",
        "label": "Value Update Interval",
        "tooltip": "Adjust data transmission frequency (ms)",
        "group": "db90d842c8137a2c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "19",
        "max": "500",
        "step": 1,
        "className": "",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "452d9f7839258698"
            ]
        ]
    },
    {
        "id": "daae4044a851245c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44491014de3ca4c9",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "6c9e920feda67f64",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "db90d842c8137a2c",
        "type": "ui_group",
        "name": "Light Intensity Manager",
        "tab": "6c9e920feda67f64",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fae9efa4b520792",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "6c9e920feda67f64",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c9e920feda67f64",
        "type": "ui_tab",
        "name": "MediBox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]